<!doctype html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var socket = io.connect('http://172.17.0.2:5000');
        socket.on('connect', function () {
            socket.send('User concted!')
        })
        socket.on('message', function (data) {
            // socket.send('start!');
            $('#message').append($('<p>').text(data));
        });
    })
</script>
<div id="message">

</div>
<title>Hello from Flask</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hello, World!</h1>
{% endif %}
